body {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: #0c0c0c;
  color: limegreen;
  font-size: 14px;
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: lime;
  font-weight: bold;
}

a:hover,
a:active {
  color: green;
  text-decoration: underline;
}

#container {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: auto;
  padding-bottom: 33px;
  max-width: 666px;
  height: 60%;
}

#about {
  padding: 10px 50px;
  text-align: justify;
}

#foot {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.para {
  line-height: 1.6em;
}

.links {
  letter-spacing: 0.5em;
}

/* tablet */
@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 2.1em;
  }

  #container {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 1.5em;
  }

  #container {
    max-width: 100%;
    margin: 20px;
    padding: 0;
    text-align: justify;
  }

  #about {
    padding: 20px;
  }
}
